{% extends 'main/base.html'%}

{% block title %}
    Loja - home
{% endblock %}

{% block pageheader%}
    <div class="position-relative overflow-hidden p3 p-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Loja Online - Shop</h1>
            <p class="lead font-weight-normal">Comece a comprar produtos clicando no link abaixo</p>
            <a class="btn btn-outline-secondary" href="{% url 'items'%}">Iniciar</a>
        </div>
        <div class="product-device bow-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow  d-none d-md-block"></div>
    </div>
{% endblock %}

{% block content %}
    
{% endblock %}