{% extends 'main/base.html' %}

{% block title%}
    Register
{% endblock %}

{% block content %}
<body >
    <div style="width:500px" class="m-auto">
        
    <form class="form-signin" method="POST">
        {% csrf_token %}
        
        <h1 class="h3 mb-3 font-weight-normal text-center mt-5">Crie sua conta</h1>

        <label for="inputUsername" class="sr-only">Usuário</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Nome de usuario" name="user" required>
        <br>

        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="password" required>
        <br>

        <label for="inputPassword2" class="sr-only">Senha</label>
        <input type="password" id="inputPassword2" class="form-control" placeholder="Confirme a senha" name="password2" required>
        <br>

        <div class="checkbox mb-3 text-center">
            <h6>Já possui conta ?</h6>
            <a class="btn btn-sm btn-secondary" href="{% url 'login' %}">Login</a>
        </div>
        <div class="text-center"  >
            <button style="width:400px" class="btn btn-lg btn-outline-primary btn-block " type="submit">Criar uma conta</button>
        </div>
        </form>
    </div>
</body>
{% endblock %}